# Archivos binarios generados por compilación
a.out
*.out
*.o
*.obj
*.exe
*.so
*.dylib

# Todos los ejecutables sin extensión (pero que son archivos ejecutables)
# Ignora cualquier archivo en el repo que sea ejecutable y no tenga extensión
*.[!.]*